#--------------------------------------------------------------------
# Example Environment Configuration file

 CI_ENVIRONMENT = development

  app.baseURL = 'http://taskapp.local'

 database.default.hostname =localhost
 database.default.database =taskapp
 database.default.username =root
 database.default.password =''
 database.default.DBDriver = MySQLi
#database.default.DBPrefix =
 database.default.port = 3306

HASH_SECRET_KEY = 'tdrPwnFOpgOUsDKnTzMZk0HR5JphxiBD' 

email.protocol = smtp
email.SMTPHost = "smtp.mailersend.net"
email.SMTPUser = "MS_hpivNv@trial-3vz9dleppv74kj50.mlsender.net"  
email.SMTPPass = "3Dve9vob81T5htwn"    
email.SMTPPort = 587
email.SMTPCrypto = tls 
